apiVersion: v1
kind: Service
metadata:
  name: {{ include "nginx-rollout-poc.fullname" . }}
spec:
  selector:
    app: {{ include "nginx-rollout-poc.name" . }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
